doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Drone Webpage
        link(href="/css/styles.css" rel="stylesheet")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="/scripts/drone.js" )
        script(src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyDOUOjCUfAoWjm7pAsSDnwqXgXPZeaylQY&callback=initMap&libraries=&v=weekly" async)
    body
        .camera
            .camera_one
                h1.camera_one Front Cam
                img#webcam(src= '/video/front', autoplay, muted, playsinline)

            .camera_two
                h1.camera_one Bottom Cam
                img#webcam(src= '/video/bottom', autoplay, muted, playsinline)
        .status
            h2 Drone State
            .status_body
                ul(class='drone_info')
                    li.drone_name Name: 
                    li.drone_gps Gps: 
                    li.drone_battery Battery:
                    li.drone_heart Last Heartbeat:
                    li.drone_armable Armable:
                    li.drone_status System Status: 
                    li.drone_mode Mode: 
                ul(class='drone_direction')
                    li.drone_head Heading: 
                    li.drone_att Attitude: 
                    li.drone_vel Velocity:
                    li.drone_air_speed Air Speed: 
                    li.drone_ground_speed Ground Speed:
                    li.drone_arm Armed:
                    li.drone_home Home Location:
        .commands
            h2 Drone Commands
            button.arm(onclick="disarmOrArm()")
        div#map
script.
    function initMap() {

        // The location of Geeksforgeeks office
        const gfg_office = {
            lat: 28.50231,
            lng: 77.40548
        };

        // Create the map, centered at gfg_office
        const map = new google.maps.Map(
            document.getElementById("map"), {

            // Set the zoom of the map
            zoom: 17.56,
            center: gfg_office,
        });

    }
    $(document).ready(function () {
        function fetchData() {
            $.get('/drone/json', function (data) {
                editDroneInfo(data.info)
                editDroneDirection(data.direction)
                setTimeout(fetchData, 2000)
            });
        }
        fetchData()
    });
