html {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

body {
  color: #333;
  background-color: #dee5e5;
  margin: 0em 10em;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.camera {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #9dc5bb;
  padding: 2em;
}
.camera img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.status {
  background-color: #7cc2b1;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.status_head {
  margin-bottom: 10px;
}

.status_head h2 {
  font-size: 1.5em;
  color: #333;
  margin: 0;
}

.status_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.drone_info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.drone_info li {
  margin-bottom: 10px;
}

.drone_direction {
  list-style: none;
  padding: 0;
  margin: 0;
}

.drone_direction li {
  margin-bottom: 10px;
}

.commands {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: #3b9c88;
}

.disarmed {
  background-color: red;
}
.armed {
  background-color: green;
}
button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.3s;
  cursor: pointer;
  background-color: #333;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #97bbb9; /* Green */
  color: black;
}

.map {
  flex-shrink: 1;
}
#map {
  margin: 0;
  padding: 0;
  height: 40em;
  width: 40em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.map_options {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
}
/* Remove default input styles */
input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

/* Add focus styles */
input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Add hover styles */
input:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Add disabled styles */
input:disabled {
  background-color: #ccc;
  color: #999;
  box-shadow: none;
  cursor: not-allowed;
}
.hub {
  background-color: #5abfa6;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 2em;
}
.hud {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
