doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Drone Webpage
        link(href="/public/css/styles.css" rel="stylesheet")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")


        script(src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyDOUOjCUfAoWjm7pAsSDnwqXgXPZeaylQY&callback=initMap&libraries=&v=weekly" async)
        link(href="/public/css/flightindicators.css" rel="stylesheet")
        script(src="/public/scripts/jquery.flightindicators.js" )
        script(src="/public/scripts/drone.js" )
        script(src="/public/scripts/map.js" )
        script(src="/public/scripts/hud.js" )

    body
        .camera
            .camera_one
                h1 Front Cam
                img#webcam(src= 'http://10.72.102.58:5000/front_feed', autoplay, muted, playsinline)

            .camera_two
                h1 Bottom Cam
                img#webcam(src= 'http://10.72.102.58:5000/down_feed', autoplay, muted, playsinline)
        .status
            .status_head
                h2 Drone State
            .status_body
                ul(class='drone_info')
                    li.drone_name Name: 
                    li.drone_gps Gps: 
                    li.drone_armable Armable:
                    li.drone_status System Status: 
                    li.drone_mode Mode: 
                ul(class='drone_info')
                    li.drone_ping ping: 
                    li.drone_heart Last Heartbeat:
                    li.drone_battery Battery:
                    li.drone_arm Armed:
                    li.drone_home Home Location:

                ul(class='drone_direction')
                    li.drone_head Heading: 
                    li.drone_att Attitude: 
                    li.drone_vel Velocity:
                    li.drone_air_speed Air Speed: 
                    li.drone_ground_speed Ground Speed:
        .hub
            .map
                #map 
                .map_options
                    button.centering_map(onclick="centerMap()") center
            .hud 
                span#altimeter 
                span#attitude
                span#heading 
                span#variometer 
                span#airspeed 

        .commands
            h2 Drone Commands
            .command_buttons
                button.arm(onclick="disarmOrArm()")





script.

    $(document).ready(function () {

        function fetchData() {
            $.get('/drone/api/json', function (data) {

                editDroneInfo(data.info)
                editDroneDirection(data.direction)
                updateMap(data.info.drone_gps.lat, data.info.drone_gps.long)


                setTimeout(fetchData, 2000)
            });
        }


        fetchData()

    });



